@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "jetbrains-light";
  src: url("./fonts/jb-light.ttf");
}

@font-face {
  font-family: "jetbrains-medium";
  src: url("./fonts/jb-medium.ttf");
}

@font-face {
  font-family: "jetbrains-bold";
  src: url("./fonts/jb-bold.ttf");
}

@font-face {
  font-family: "sonara-rounded";
  src: url("./fonts/sonara.otf");
}

::-webkit-scrollbar {
  width: 0px;
  display: none;
}

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
  display: none;
}

::-webkit-scrollbar-thumb:hover {
  display: none;
}

:root {
  --black: rgb(10, 10, 10);
  --black-faded: rgba(0, 0, 0, 0.5);
  --white: rgb(255, 255, 255);
  --white-faded: rgba(255, 255, 255, 0.075);
  --signature: rgb(36, 220, 162);
  --signature-faded: rgba(36, 220, 162, 0.2);
}

.route-container {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}