@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.outline {
  background-color: transparent!important;
}

body {
  -webkit-tap-highlight-color:  rgba(232, 150, 58, 0);
  @apply bg-cA
}

* {
  @apply font-primary
}

#root {
  -webkit-tap-highlight-color:  rgba(232, 150, 58, 0);
}



@layer base {
  * {
    @apply font-primary
  }


  li {
    @apply p-2
  }

}


@keyframes fade-in {
    from {opacity: 0; transform: scale(.7,.7)}
    to {opacity: 1;}
  }
  .fade-in-element {
  animation: fade-in 1.4s;
  }


::-webkit-scrollbar {
  width: 0px;
  display: none;
}

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
  display: none;
}

::-webkit-scrollbar-thumb:hover {
  display: none;
}

:root {
  --black: rgb(10, 10, 10);
  --black-faded: rgba(0, 0, 0, 0.5);
  --white: rgb(255, 255, 255);
  --white-faded: rgba(255, 255, 255, 0.075);
  --signature: rgb(36, 220, 162);
  --signature-faded: rgba(36, 220, 162, 0.2);
}

.route-container {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.rendering-pixelated { image-rendering: pixelated; }